{% extends 'base.html.twig' %}

{% block title %}GroBlog - Le blog de Groland{% endblock %}

{% block body %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

{% for i in (app.request.get('numb')-10)..app.request.get('numb') %}
{% if posts[i] is defined %}
          <div class="post-preview">
            <a href="{{ path('Post', {'idPost' : posts[i].id})}}">
              <h2 class="post-title">
                {{ posts[i].title }}
              </h2>
              <h3 class="post-subtitle">
                {{ posts[i].content|slice(0, 100) }}...
              </h3>
            </a>
            <p class="post-meta">Posté par
              <a href="#">{{ posts[i].author }}</a>
              le {{ posts[i].published|date("d/m/Y") }}</p>
          </div>
          <hr>
          
{% endif %}
{% endfor %}

{% if posts[app.request.get('numb') + 1] is defined %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{ path('homepage', {'numb' : app.request.get('numb')+10}) }} ">Plus de posts &rarr;</a>
                </div>
{% endif %}
            </div>
        </div>
    </div>

    <hr>
          

{% endblock %}
