{% extends 'base.html.twig' %}

{% block title %}{% trans %}GroPost - %user%'s posts{% endtrans %}{% endblock %}

{% block body %}


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
{% if posts|length == 0 %}
          <h1>{% trans %}You did not create posts yet, go ahead!{% endtrans %}</h1>
{% else %}
{% for i in 0..posts|length - 1 %}
          <div class="post-preview">
            <a href="{{ path('Post', {'idPost' : posts[i].id})}}">
              <h2 class="post-title">
                {{ posts[i].title }} 
              </h2>
              
              <h3 class="post-subtitle">
                {{ posts[i].content|slice(0, 100) }}...
              </h3>
            </a>
            <p class="post-meta">{% trans %}By{% endtrans %}
              <a href="#">{{ posts[i].author }}</a>
              {% trans %}the{% endtrans %} {{ posts[i].published|date("d/m/Y") }}</p>
          </div>
          <a href="{{path('updatePage', {'idPost' : posts[i].id} ) }}" title="Modifier le post">  <img src="{{asset('img/editLogo24x24.png')}}" alt="">  </a> 
          <a href="{{path('delete', {'idPost' : posts[i].id} ) }}" title="Supprimer le post"> <img src="{{asset('img/delete24x24.png')}}" alt=""/>   </a>

          <hr>
{% endfor %}
{% endif %} 
      </div>
    </div>
  </div>  



{% endblock %}