{% extends 'base.html.twig' %}

{% block title %}GroPost - Création d'un post pour Groland{% endblock %}

{% block body %}


      <!-- Main Content  TODO: add delete and update buttons-->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
{% for i in 0..posts|length - 1 %}
          <div class="post-preview">
            <a href="{{ path('Post', {'idPost' : posts[i].id})}}">
              <h2 class="post-title">
                {{ posts[i].title }}
              </h2>
              <h3 class="post-subtitle">
                {{ posts[i].content|slice(0, 100) }}...
              </h3>
            </a>
            <p class="post-meta">Posté par
              <a href="#">{{ posts[i].author }}</a>
              le {{ posts[i].published|date("d/m/Y") }}</p>
          </div>
          <hr>   
{% endfor %}


{% endblock %}